<div class="modal-content">
    <div class="modal-header line-height-fixed font-size-lg">
		<strong class="mx-auto">Don hàng của bạn </strong>
    </div>
    <%= render 'shared/feed_2' %>   
<div class = "sum">Tổng tiền: <%= @order.total_price %>VND</div>
</div>

